.container {
    max-width: 100%;
    min-width: 100%;
    height: 100vh;
    color: var(--dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin: 0;
    padding: 2rem;
    background-color: var(--lightestBlue);
    background-color: #333333;
    border-top: 2px solid yellow;

    @media(max-width: 768px) {
        height: fit-content;
        padding: 1rem .5rem;
    }
}

.both {
    width: 85%;
    margin: 0 auto;
    background-color: cadetblue;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

@media(max-width: 768px) {
    .both {
        width: 95%;
    }

}

.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

@media(max-width: 768px) {
    .wrapper {
        flex-direction: column;
        gap: 2px;
    }

}

.accordion {
    padding: .5rem;
}

.edu h1 {
    color: var(--blue);
    margin-bottom: 7px;
    font-weight: 600;
    font-size: 20px;

    @media(max-width: 768px) {
        font-size: 18px;
    }
}

.question {
    padding: .4rem .8rem;
    font-size: 17px;
    font-weight: 500;
    border-radius: 2px;
    cursor: pointer;
    text-align: center;
    color: var(--dark);
    background-color: var(--whiteDark);
    background-color: black;
    text-transform: capitalize;
    opacity: .9;
    margin: 0 3px;
    border-radius: .3rem;
    

    @media(max-width: 768px) {
        font-size: 17px;
        padding: 3px 4px;
    }
}

.question:hover {
    opacity: .8;
}

.active {
    padding: .3rem .8rem;
    border-radius: .3rem;
    font-weight: 500;
    color: var(--white);
    border-radius: 2px;
    cursor: pointer;
    text-align: center;
    background-color: var(--blue);
    font-size: 17px;
    text-transform: capitalize;
    opacity: .9;
    margin: 0 3px;


    @media(max-width: 768px) {
        font-size: 17px;
        padding: 3px 4px;
    }
}
.answer {
    height: 70vh;
    color: #333333;
    font-weight: 500;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: burlywood;
    padding: 1rem .5rem;
    @media(max-width: 768px) {
            width: 100%;
            padding: 7px 10px;
    
    }
}



.title {
    font-size: 25px;
    font-weight: 500;
    color: var(--blue);

    @media(max-width: 768px) {
        font-size: 18px;
        text-align: center;
    }
}

.com {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

@media(max-width: 768px) {
    .com {
        flex-direction: column-reverse;
        gap: 10px;
    }

}

.answerText {
    width: 65%;
padding: 0 2rem 0 0;
}
.answerImg {
    width: 35%;
    text-align: center;
    align-self: right;
    margin: 0 auto;
}

@media(max-width: 768px) {

    .answerImg,
    .answerText {
        width: 95%;
    }
}

.img {
    margin: 0 auto;
}

@media(max-width: 768px) {
    .img {
        width: 150px;
    }

}

.but {
    margin-top: 20px;

    @media(max-width: 768px) {
        margin-left: 10px;
        margin-top: 12px;
    }
}



.desc {
    color: var(--dark);

    @media(max-width: 768px) {
        font-size: 15px;
    }

}

.button {
    margin-top: 10px;
    background-color: transparent;
    border: 2px solid var(--blue);
    font-weight: 500;
    color: var(--blue);
    padding: 5px;
    border-radius: 5px;

    @media(max-width: 768px) {
        font-size: 14px;

        border: 1px solid var(--blue);
    }
}

.button:hover {
    background-color: var(--blue);
    color: var(--white);
}
.edu{
    width: 50%;
    background-color: rebeccapurple;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media(max-width: 768px) {
       width: 90%;
    }
}

.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: blue;
    height: 70vh;
    padding: 1rem .5rem;
    gap: 1rem;

}
.ans{
    background-color: green;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 
.ans h1 {
    color: var(--blue);
    margin-bottom: 7px;
    font-weight: 600;
    font-size: 20px;

    @media(max-width: 768px) {
        font-size: 18px;
    }
}

.right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}