.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 80px;
    width: 100%;
    color: var(--text);
    padding: 1.5rem 10rem;
    width: 100%;
    text-align: center;
    background-color: var(--bgLight);
    border-radius: .5rem;

    @media (max-width: 767px) {
        padding: .5rem;
        justify-content: center;
        gap: 25px;
        min-width: 80vw;
    }
}

.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: fit-content;
    color: var(--text);

    @media (max-width: 767px) {
        flex-direction: column;
        align-items: center;
        gap: .5px;
    }



}

.counter {
    font-weight: 600;
    font-size: 30px;
    color: var(--textSoft);

    @media (max-width: 767px) {
        font-size: 20px;
    }
}

.desc {
    font-size: 0.8rem;
    color: var(--teal-5);
    /* opacity: .8; */
    text-align: left;
    line-height: 15px;

    @media (max-width: 767px) {
        font-size: .7rem;
        flex-wrap: wrap;
    }
}